<div class="chessBoardWrapper">
    <table class="chessBoardBorder">
        <tr>
            <td></td>
            <td>a</td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>f</td>
            <td>g</td>
            <td>h</td>
            <td></td>
        </tr>
        <tr>
            <td>8</td>
            <td id="a8" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="a8" class="blackPiece piecePresent glyphicon glyphicon-tower"></span></td>
            <td id="b8" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="b8" class="blackPiece piecePresent glyphicon glyphicon-knight"></span></td>
            <td id="c8" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="c8" class="blackPiece piecePresent glyphicon glyphicon-bishop"></span></td>
            <td id="d8" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="d8" class="blackPiece piecePresent glyphicon glyphicon-queen"></span></td>
            <td id="e8" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="e8" class="blackPiece piecePresent glyphicon glyphicon-king"></span></td>
            <td id="f8" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="f8" class="blackPiece piecePresent glyphicon glyphicon-bishop"></span></td>
            <td id="g8" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="g8" class="blackPiece piecePresent glyphicon glyphicon-knight"></span></td>
            <td id="h8" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="h8" class="blackPiece piecePresent glyphicon glyphicon-tower"></span></td>
            <td>8</td>
        </tr>
        <tr>
            <td>7</td>
            <td id="a7" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="a7" class="blackPiece piecePresent glyphicon glyphicon-pawn"></span></td>
            <td id="b7" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="b7" class="blackPiece piecePresent glyphicon glyphicon-pawn"></span></td>
            <td id="c7" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="c7" class="blackPiece piecePresent glyphicon glyphicon-pawn"></span></td>
            <td id="d7" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="d7" class="blackPiece piecePresent glyphicon glyphicon-pawn"></span></td>
            <td id="e7" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="e7" class="blackPiece piecePresent glyphicon glyphicon-pawn"></span></td>
            <td id="f7" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="f7" class="blackPiece piecePresent glyphicon glyphicon-pawn"></span></td>
            <td id="g7" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="g7" class="blackPiece piecePresent glyphicon glyphicon-pawn"></span></td>
            <td id="h7" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="h7" class="blackPiece piecePresent glyphicon glyphicon-pawn"></span></td>
            <td>7</td>
        </tr>
        <tr>
            <td>6</td>
            <td id="a6" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="a6" class=""></span></td>
            <td id="b6" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="b6" class=""></span></td>
            <td id="c6" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="c6" class=""></span></td>
            <td id="d6" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="d6" class=""></span></td>
            <td id="e6" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="e6" class=""></span></td>
            <td id="f6" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="f6" class=""></span></td>
            <td id="g6" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="g6" class=""></span></td>
            <td id="h6" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="h6" class=""></span></td>
            <td>6</td>
        </tr>
        <tr>
            <td>5</td>
            <td id="a5" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="a5" class=""></span></td>
            <td id="b5" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="b5" class=""></span></td>
            <td id="c5" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="c5" class=""></span></td>
            <td id="d5" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="d5" class=""></span></td>
            <td id="e5" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="e5" class=""></span></td>
            <td id="f5" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="f5" class=""></span></td>
            <td id="g5" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="g5" class=""></span></td>
            <td id="h5" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="h5" class=""></span></td>
            <td>5</td>
        </tr>
        <tr>
            <td>4</td>
            <td id="a4" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="a4" class=""></span></td>
            <td id="b4" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="b4" class=""></span></td>
            <td id="c4" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="c4" class=""></span></td>
            <td id="d4" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="d4" class=""></span></td>
            <td id="e4" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="e4" class=""></span></td>
            <td id="f4" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="f4" class=""></span></td>
            <td id="g4" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="g4" class=""></span></td>
            <td id="h4" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="h4" class=""></span></td>
            <td>4</td>
        </tr>
        <tr>
            <td>3</td>
            <td id="a3" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="a3" class=""></span></td>
            <td id="b3" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="b3" class=""></span></td>
            <td id="c3" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="c3" class=""></span></td>
            <td id="d3" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="d3" class=""></span></td>
            <td id="e3" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="e3" class=""></span></td>
            <td id="f3" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="f3" class=""></span></td>
            <td id="g3" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="g3" class=""></span></td>
            <td id="h3" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="h3" class=""></span></td>
            <td>3</td>
        </tr>
        <tr>
            <td>2</td>
            <td id="a2" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="a2" class="whitePiece piecePresent glyphicon glyphicon-pawn"></span></td>
            <td id="b2" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="b2" class="whitePiece piecePresent glyphicon glyphicon-pawn"></span></td>
            <td id="c2" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="c2" class="whitePiece piecePresent glyphicon glyphicon-pawn"></span></td>
            <td id="d2" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="d2" class="whitePiece piecePresent glyphicon glyphicon-pawn"></span></td>
            <td id="e2" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="e2" class="whitePiece piecePresent glyphicon glyphicon-pawn"></span></td>
            <td id="f2" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="f2" class="whitePiece piecePresent glyphicon glyphicon-pawn"></span></td>
            <td id="g2" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="g2" class="whitePiece piecePresent glyphicon glyphicon-pawn"></span></td>
            <td id="h2" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="h2" class="whitePiece piecePresent glyphicon glyphicon-pawn"></span></td>
            <td>2</td>
        </tr>
        <tr>
            <td>1</td>
            <td id="a1" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="a1" class="whitePiece piecePresent glyphicon glyphicon-tower"></span></td>
            <td id="b1" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="b1" class="whitePiece piecePresent glyphicon glyphicon-knight"></span></td>
            <td id="c1" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="c1" class="whitePiece piecePresent glyphicon glyphicon-bishop"></span></td>
            <td id="d1" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="d1" class="whitePiece piecePresent glyphicon glyphicon-queen"></span></td>
            <td id="e1" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="e1" class="whitePiece piecePresent glyphicon glyphicon-king"></span></td>
            <td id="f1" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="f1" class="whitePiece piecePresent glyphicon glyphicon-bishop"></span></td>
            <td id="g1" class="pieces piecesCenter piecesSize squareBlack" (click)=onTagClick($event)><span id="g1" class="whitePiece piecePresent glyphicon glyphicon-knight"></span></td>
            <td id="h1" class="pieces piecesCenter piecesSize squareWhite" (click)=onTagClick($event)><span id="h1" class="whitePiece piecePresent glyphicon glyphicon-tower"></span></td>
            <td>1</td>
        </tr>
        <tr>
            <td></td>
            <td>a</td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>f</td>
            <td>g</td>
            <td>h</td>
            <td></td>
        </tr>
    </table>
</div>